---
const { backgroundImage, title } = Astro.props;
---

<header class="relative bg-cover bg-center h-screen flex items-center justify-center" style={`background-image: url('${backgroundImage}')`}>
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative z-10 text-center">
    <h1 class="text-5xl md:text-6xl font-bold text-white mb-4 shadow-text">{title}</h1>
    <p class="text-xl md:text-2xl text-white shadow-text">Uma experiência interativa pelo coração do Brasil</p>
  </div>
</header>

<style>
  .shadow-text {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
</style>

